.home-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../../assets/img/j-retrato-de-cardenal-rafael.webp');
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center;
  top: 0;
  left: 0;
}
.home-section {
  margin: 6rem 0 0 0;
  z-index: 0;
}
.home-logo {
  font-size: 7rem;
  line-height: 10rem;
  letter-spacing: -0.15rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.home-logo::before {
  position: absolute;
  top: 0.25rem;
  left: 4.25rem;
  content: '';
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 3px solid white;
}
.home-logo::after {
  position: absolute;
  top: 0.25rem;
  left: 9.25rem;
  content: '';
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 3px solid white;
}
.home-menu {
  margin: 10rem 0 0 0;
  width: 614px;
  display: flex;
  justify-content: space-between;
}
.menu-item {
  display: inline-block;
  box-sizing: border-box;
  height: 62px;
  width: 287px;
  border-radius: 31px;
  border: 1.5px solid white;
  text-align: center;
  line-height: 62px;
  transition: all 0.25s;
}
.menu-item:hover {
  background: white;
  color: black;
}
.menu-item:active {
  border-color: #FFBCA2;
  background: #FFBCA2;
  color: black;
}